{% load i18n %}{% autoescape off %}
{% blocktrans %}Otrzymujesz tego e-maila, ponieważ poprosiłeś o zresetowanie hasła dla swojego konta użytkownika pod adresem {{ site_name }}.{% endblocktrans %}

{% trans "Jeśli kliknięcie poniższy linku nie zadziała, skopiuj i wklej adres URL w nowej przeglądarce
zamiast tego okno:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Twój nick, wrazie jakbyś zapomniał:" %} {{ user.get_username }}

{% trans "Dziękuję za używanie naszej strony!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}